<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

    <% if (errors) { %>
        <div class="alert alert-error">
          <% errors.array().forEach(function(error) { %>
          <p><%= error.msg %></p>
          <% }) %>
        </div>
        <% } %>

        <form id="add-classification-form" action="/inv/add-classification" method="post">
          <div class="form-control">
            <label for="classification_name">Classification Name</label>
            <input
              type="text"
              name="classification_name"
              id="classification_name"
              required
              pattern="^[a-zA-Z0-9]+$"
              title="No spaces or special characters allowed"
              value="<%= typeof classification_name !== 'undefined' ? classification_name : '' %>">
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn">Add Classification</button>
          </div>
        </form>
      </div>